// CSS3 var
@use './var' as *;
@use '../mixins/_var.scss' as *;
@use '../mixins/mixins.scss' as *;

html.dark {
    color-scheme: dark;

    // hex colors
    @each $type in (primary, success, warning, danger, error, info) {
        @include set-css-color-type($colors, $type);
    }

    // --zzu-box-shadow-#{$type}
    @include set-component-css-var('box-shadow', $box-shadow);

    // color-scheme
    // Background --zzu-bg-color-#{$type}
    @include set-component-css-var('bg-color', $bg-color);
    // --zzu-text-color-#{$type}
    @include set-component-css-var('text-color', $text-color);
    // --zzu-border-color-#{$type}
    @include set-component-css-var('border-color', $border-color);
    // Fill --zzu-fill-color-#{$type}
    @include set-component-css-var('fill-color', $fill-color);
    @include set-component-css-var('mask-color', $mask-color);
}
