@use 'mixins/config' as *;
@use 'mixins/mixins' as *;

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
    transition: getCssVar('transition-fade', 'linear');
}

.fade-in-linear-enter-from,
.fade-in-linear-leave-to {
    opacity: 0;
}
