@use 'sass:map';

@use '../../style/mixins/mixins' as *;
@use '../../style/var' as *;

$button-icon-span-gap: () !default;
$button-icon-span-gap: map.merge(
    (
        'large': 8px,
        'default': 6px,
        'small': 4px,
    ),
    $button-icon-span-gap
);

$button: () !default;
$button: map.merge(
    (
        'font-weight': getCssVar('font-weight-primary'),
        'border-color': getCssVar('border-color'),
        'bg-color': getCssVar('fill-color', 'blank'),
        'text-color': getCssVar('text-color', 'regular'),
        'disabled-text-color': getCssVar('disabled-text-color'),
        'disabled-bg-color': getCssVar('fill-color', 'blank'),
        'disabled-border-color': getCssVar('border-color-light'),
        'divide-border-color': rgba($color-white, 0.5),
        'hover-text-color': getCssVar('color-primary'),
        'hover-bg-color': getCssVar('color-primary', 'light-9'),
        'hover-border-color': getCssVar('color-primary-light-7'),
        'active-text-color': getCssVar('button-hover-text-color'),
        'active-border-color': getCssVar('color-primary'),
        'active-bg-color': getCssVar('button', 'hover-bg-color'),
        'outline-color': getCssVar('color-primary', 'light-5'),
        'hover-link-text-color': getCssVar('text-color', 'secondary'),
        'active-color': getCssVar('text-color', 'primary'),
    ),
    $button
);

$button-border-width: $border-width !default;

// need mix, so do not use css var
$button-hover-tint-percent: 20%;
$button-active-shade-percent: 10%;

$button-border-color: () !default;
$button-bg-color: () !default;
$button-text-color: () !default;

@each $type in $types {
    $button-border-color: map.merge(
        (
            $type: map.get($colors, $type, 'base'),
        ),
        $button-border-color
    ) !global;

    $button-bg-color: map.merge(
        (
            $type: map.get($colors, $type, 'base'),
        ),
        $button-bg-color
    ) !global;
}

$button-font-size: () !default;
$button-font-size: map.merge(
    (
        'large': getCssVar('font-size', 'base'),
        'default': getCssVar('font-size', 'base'),
        'small': 12px,
    ),
    $button-font-size
);

$button-border-radius: () !default;
$button-border-radius: map.merge(
    (
        'large': getCssVar('border-radius', 'base'),
        'default': getCssVar('border-radius', 'base'),
        'small': calc(#{getCssVar('border-radius', 'base')} - 1px),
    ),
    $button-border-radius
);

$button-padding-vertical: () !default;
$button-padding-vertical: map.merge(
    (
        'large': 13px,
        'default': 9px,
        'small': 6px,
    ),
    $button-padding-vertical
);

$button-padding-horizontal: () !default;
$button-padding-horizontal: map.merge(
    (
        'large': 20px,
        'default': 16px,
        'small': 12px,
    ),
    $button-padding-horizontal
);

@mixin button-plain($type) {
    $button-color-types: (
        '': (
            'text-color': (
                'color',
                $type,
            ),
            'bg-color': (
                'color',
                $type,
                'light-9',
            ),
            'border-color': (
                'color',
                $type,
                'light-5',
            ),
        ),
        'hover': (
            'text-color': (
                'color',
                'white',
            ),
            'bg-color': (
                'color',
                $type,
            ),
            'border-color': (
                'color',
                $type,
            ),
        ),
        'active': (
            'text-color': (
                'color',
                'white',
            ),
        ),
    );

    @each $type, $typeMap in $button-color-types {
        @each $typeColor, $list in $typeMap {
            @include css-var-from-global(('button', $type, $typeColor), $list);
        }
    }

    &.is-disabled {
        &,
        &:hover,
        &:focus,
        &:active {
            color: getCssVar('color', $type, 'light-5');
            background-color: getCssVar('color', $type, 'light-9');
            border-color: getCssVar('color', $type, 'light-8');
        }
    }
}

@mixin button-variant($type) {
    $button-color-types: (
        '': (
            'text-color': (
                'color',
                'white',
            ),
            'bg-color': (
                'color',
                $type,
            ),
            'border-color': (
                'color',
                $type,
            ),
            'outline-color': (
                'color',
                $type,
                'light-5',
            ),
            'active-color': (
                'color',
                $type,
                'dark-2',
            ),
        ),
        'hover': (
            'text-color': (
                'color',
                'white',
            ),
            'link-text-color': (
                'color',
                $type,
                'light-5',
            ),
            'bg-color': (
                'color',
                $type,
                'light-3',
            ),
            'border-color': (
                'color',
                $type,
                'light-3',
            ),
        ),
        'active': (
            'bg-color': (
                'color',
                $type,
                'dark-2',
            ),
            'border-color': (
                'color',
                $type,
                'dark-2',
            ),
        ),
        'disabled': (
            'text-color': (
                'color',
                'white',
            ),
            'bg-color': (
                'color',
                $type,
                'light-5',
            ),
            'border-color': (
                'color',
                $type,
                'light-5',
            ),
        ),
    );

    @each $type, $typeMap in $button-color-types {
        @each $typeColor, $list in $typeMap {
            @include css-var-from-global(('button', $type, $typeColor), $list);
        }
    }

    &.is-plain,
    &.is-text,
    &.is-link {
        @include button-plain($type);
    }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    border-radius: $border-radius;

    &.is-round {
        padding: $padding-vertical $padding-horizontal;
    }
}

@include b(button) {
    @include set-component-css-var('button', $button);
}

@include b(button) {
    display: inline-block;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: map.get($common-component-size, 'default');
    white-space: nowrap;
    cursor: pointer;
    color: getCssVar('button', 'text-color');
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: 0.1s;
    font-weight: getCssVar('button', 'font-weight');
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: getCssVar('button', 'bg-color');
    border: getCssVar('border');
    border-color: getCssVar('button', 'border-color');

    &:hover {
        color: getCssVar('button', 'hover', 'text-color');
        border-color: getCssVar('button', 'hover', 'border-color');
        background-color: getCssVar('button', 'hover', 'bg-color');
        outline: none;
    }

    &:active {
        color: getCssVar('button', 'active', 'text-color');
        border-color: getCssVar('button', 'active', 'border-color');
        background-color: getCssVar('button', 'active', 'bg-color');
        outline: none;
    }

    &:focus-visible {
        outline: 2px solid getCssVar('button', 'outline-color');
        outline-offset: 1px;
        transition:
            outline-offset 0s,
            outline 0s;
    }

    > span {
        display: inline-flex;
        align-items: center;
    }

    & + & {
        margin-left: 12px;
    }

    & {
        @include button-size(
            map.get($button-padding-vertical, 'default') - $button-border-width,
            map.get($button-padding-horizontal, 'default') - $button-border-width,
            map.get($button-font-size, 'default'),
            map.get($button-border-radius, 'default')
        );
    }

    &::-moz-focus-inner {
        border: 0;
    }

    & [class*='#{$namespace}-icon'] {
        & + span {
            margin-left: map.get($button-icon-span-gap, 'default');
        }
    }

    & svg[class*='#{$namespace}-icon'] {
        vertical-align: bottom;
    }

    @include when(plain) {
        @include css-var-from-global(('button', 'hover', 'text-color'), ('color', 'primary'));
        @include css-var-from-global(('button', 'hover', 'bg-color'), ('fill-color', 'blank'));
        @include css-var-from-global(('button', 'hover', 'border-color'), ('color', 'primary'));
    }

    @include when(active) {
        color: getCssVar('button', 'active', 'text-color');
        border-color: getCssVar('button', 'active', 'border-color');
        background-color: getCssVar('button', 'active', 'bg-color');
        outline: none;
    }

    @include when(disabled) {
        &,
        &:hover {
            color: getCssVar('button', 'disabled', 'text-color');
            cursor: not-allowed;
            background-image: none;
            background-color: getCssVar('button', 'disabled', 'bg-color');
            border-color: getCssVar('button', 'disabled', 'border-color');
        }
    }

    @include when(loading) {
        position: relative;
        pointer-events: none;

        &:before {
            // mask the button
            z-index: 1;
            pointer-events: none;
            content: '';
            position: absolute;
            left: -1px;
            top: -1px;
            right: -1px;
            bottom: -1px;
            border-radius: inherit;
            background-color: getCssVar('mask-color', 'extra-light');
        }
    }
    @include when(round) {
        border-radius: getCssVar('border-radius', 'round');
    }
    @include when(circle) {
        width: map.get($common-component-size, 'default');
        border-radius: 50%;
        padding: map.get($button-padding-vertical, 'default') - $button-border-width;
    }

    @include when(link) {
        color: getCssVar('button', 'text-color');
        border: 0 solid transparent;
        background-color: transparent;

        @include when(disabled) {
            color: getCssVar('button', 'disabled', 'text-color');
            background-color: transparent !important;
        }

        &:not(.is-disabled) {
            &:hover {
                background-color: getCssVar('fill-color', 'light');
            }

            &:focus-visible {
                outline: 2px solid getCssVar('button', 'outline-color');
                outline-offset: 1px;
                transition:
                    outline-offset 0s,
                    outline 0s;
            }

            &:active {
                background-color: getCssVar('fill-color');
            }

            @include when(has-bg) {
                background-color: getCssVar('fill-color', 'light');

                &:hover {
                    background-color: getCssVar('fill-color');
                }

                &:active {
                    background-color: getCssVar('fill-color', 'dark');
                }
            }
        }
    }

    @include e(text) {
        @include m(expand) {
            letter-spacing: 0.3em;
            margin-right: -0.3em;
        }
    }

    @include when(link) {
        border-color: transparent;
        color: getCssVar('button', 'text-color');
        background: transparent;
        padding: 2px;
        height: auto;

        &:hover {
            color: getCssVar('button', 'hover', 'link-text-color');
        }

        @include when(disabled) {
            color: getCssVar('button', 'disabled', 'text-color');
            background-color: transparent !important;
            border-color: transparent !important;
        }

        &:not(.is-disabled) {
            &:hover {
                border-color: transparent;
                background-color: transparent;
            }

            &:active {
                color: getCssVar('button', 'active-color');
                border-color: transparent;
                background-color: transparent;
            }
        }
    }

    @include m(text) {
        border-color: transparent;
        background: transparent;
        color: getCssVar('color', 'primary');
        padding-left: 0;
        padding-right: 0;
        @include when(disabled) {
            color: getCssVar('button', 'disabled', 'text-color');
            background-color: transparent !important;
            border-color: transparent !important;
        }

        &:not(.is-disabled) {
            &:hover {
                color: getCssVar('color', 'primary', 'light-3');
                border-color: transparent;
                background-color: transparent;
            }

            &:active {
                color: getCssVar('color', 'primary', 'dark-2');
                border-color: transparent;
                background-color: transparent;
            }
        }
    }

    @include e(link) {
        @include m(expand) {
            letter-spacing: 0.3em;
            margin-right: -0.3em;
        }
    }

    @each $type in (primary, success, warning, danger, info) {
        @include m($type) {
            @include button-variant($type);
        }
    }

    @each $size in (large, small) {
        @include m($size) {
            @include set-css-var-value(('button', 'size'), map.get($common-component-size, $size));

            height: getCssVar('button', 'size');

            & [class*='#{$namespace}-icon'] {
                & + span {
                    margin-left: map.get($button-icon-span-gap, $size);
                }
            }

            & {
                @include button-size(
                    map.get($button-padding-vertical, $size) - $button-border-width,
                    map.get($button-padding-horizontal, $size) - $button-border-width,
                    map.get($button-font-size, $size),
                    map.get($button-border-radius, $size)
                );
            }

            @include when(circle) {
                width: getCssVar('button', 'size');
                padding: map.get($button-padding-vertical, $size) - $button-border-width;
            }
        }
    }
}

// button group
@include b(button-group) {
    & > .#{$namespace}-button {
        & + .#{$namespace}-button {
            margin-left: 0;
        }

        &:first-child:last-child {
            border-top-right-radius: map.get($button-border-radius, 'default');
            border-bottom-right-radius: map.get($button-border-radius, 'default');
            border-top-left-radius: map.get($button-border-radius, 'default');
            border-bottom-left-radius: map.get($button-border-radius, 'default');

            &.is-round {
                border-radius: getCssVar('border-radius', 'round');
            }

            &.is-circle {
                border-radius: 50%;
            }
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        &:hover,
        &:focus,
        &:active {
            z-index: 1;
        }

        @include when(active) {
            z-index: 1;
        }
    }

    @include m('horizontal') {
        display: inline-block;
        vertical-align: middle;
        @include utils-clearfix;

        & > .#{$namespace}-button {
            float: left;
            position: relative;

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:not(:last-child) {
                margin-right: -1px;
            }
        }

        @each $type in (primary, success, warning, danger, info) {
            .#{$namespace}-button--#{$type} {
                &:first-child {
                    border-right-color: getCssVar('button', 'divide-border-color');
                }
                &:last-child {
                    border-left-color: getCssVar('button', 'divide-border-color');
                }
                &:not(:first-child):not(:last-child) {
                    border-left-color: getCssVar('button', 'divide-border-color');
                    border-right-color: getCssVar('button', 'divide-border-color');
                }
            }
        }

        & > .#{$namespace}-dropdown {
            & > .#{$namespace}-button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left-color: getCssVar('button', 'divide-border-color');
            }
        }
    }

    @include m('vertical') {
        display: inline-flex;
        flex-direction: column;
        align-items: stretch;

        & > .#{$namespace}-button {
            margin-top: -1px;

            &:first-child {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }

        & > .#{$namespace}-dropdown {
            margin-top: -1px;

            & > .#{$namespace}-button {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-left-color: getCssVar('button', 'divide-border-color');
            }
        }

        @each $type in (primary, success, warning, danger, info) {
            .#{$namespace}-button--#{$type} {
                &:first-child {
                    border-bottom-color: getCssVar('button', 'divide-border-color');
                }
                &:last-child {
                    border-top-color: getCssVar('button', 'divide-border-color');
                }
                &:not(:first-child):not(:last-child) {
                    border-top-color: getCssVar('button', 'divide-border-color');
                    border-bottom-color: getCssVar('button', 'divide-border-color');
                }
            }
        }
    }
}
