@use '../../style/mixins/mixins.scss' as *;

.#{$namespace}-modal-fade-enter-from,
.#{$namespace}-modal-fade-leave-to {
    opacity: 0;
}

@include b(modal) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    transition: opacity getCssVar('transition-duration');

    @include m(overlay) {
        background-color: getCssVar('overlay-color', 'lighter');
    }

    &.is-penetrable {
        pointer-events: none;

        @include b(modal-wrapper) {
            pointer-events: auto;
        }
    }
}
