@use 'sass:math';
@use 'sass:color';
@use 'sass:meta';
@use 'sass:string';

@use 'config';

@function rgb2hex($color) {
    @return string.unquote('#' + #{string.slice(color.ie-hex-str($color), 4)});
}

// rgba color above solid color
@function mix-overlay-color($upper, $lower) {
    $opacity: color.alpha($upper);

    $red: color.channel($upper, 'red') * $opacity + color.channel($lower, 'red') * (1 - $opacity);
    $green: color.channel($upper, 'green') * $opacity + color.channel($lower, 'green') * (1 - $opacity);
    $blue: color.channel($upper, 'blue') * $opacity + color.channel($lower, 'blue') * (1 - $opacity);

    @return rgb2hex(rgb($red, $green, $blue));
}

// BEM support Func
@function selectorToString($selector) {
    $selector: meta.inspect($selector);
    $selector: string.slice($selector, 2, -2);
    @return $selector;
}

@function containsModifier($selector) {
    $selector: selectorToString($selector);

    @if string.index($selector, config.$modifier-separator) {
        @return true;
    } @else {
        @return false;
    }
}

@function containWhenFlag($selector) {
    $selector: selectorToString($selector);

    @if string.index($selector, '.' + config.$state-prefix) {
        @return true;
    } @else {
        @return false;
    }
}

@function containPseudoClass($selector) {
    $selector: selectorToString($selector);

    @if string.index($selector, ':') {
        @return true;
    } @else {
        @return false;
    }
}

@function hitAllSpecialNestRule($selector) {
    @return containsModifier($selector) or containWhenFlag($selector) or containPseudoClass($selector);
}

// join var name
// joinVarName(('button', 'text-color')) => '--zzu-button-text-color'
@function joinVarName($list) {
    $name: '--' + config.$namespace;
    @each $item in $list {
        @if $item != '' {
            $name: $name + '-' + $item;
        }
    }
    @return $name;
}

// getCssVarName('button', 'text-color') => '--zzu-button-text-color'
@function getCssVarName($args...) {
    @return joinVarName($args);
}

// getCssVar('button', 'text-color') => var(--zzu-button-text-color)
@function getCssVar($args...) {
    @return var(#{joinVarName($args)});
}

// getCssVarWithDefault(('button', 'text-color'), red) => var(--zzu-button-text-color, red)
@function getCssVarWithDefault($args, $default) {
    @return var(#{joinVarName($args)}, #{$default});
}

// bem('block', 'element', 'modifier') => 'zzu-block__element--modifier'
@function bem($block, $element: '', $modifier: '') {
    $name: config.$namespace + config.$common-separator + $block;

    @if $element != '' {
        $name: $name + config.$element-separator + $element;
    }

    @if $modifier != '' {
        $name: $name + config.$modifier-separator + $modifier;
    }

    // @debug $name;
    @return $name;
}

@function roundColor($color) {
    $r: math.round(color.channel($color, 'red'));
    $g: math.round(color.channel($color, 'green'));
    $b: math.round(color.channel($color, 'blue'));
    $a: color.channel($color, 'alpha');

    @return rgba($r, $g, $b, $a);
}
