@use 'config';
@use 'sass:meta';
@use 'sass:string';
@use 'sass:math';
@use 'sass:color';

@function roundColor($color) {
    $r: math.round(color.channel($color, 'red'));
    $g: math.round(color.channel($color, 'green'));
    $b: math.round(color.channel($color, 'blue'));
    $a: color.channel($color, 'alpha');

    @return rgba($r, $g, $b, $a);
}

@function containsModifier($selector) {
    $selector: selectorToString($selector);

    @if string.index($selector, config.$modifier-separator) {
        @return true;
    } @else {
        @return false;
    }
}

@function containWhenFlag($selector) {
    $selector: selectorToString($selector);

    @if string.index($selector, '.' + config.$state-prefix) {
        @return true;
    } @else {
        @return false;
    }
}

@function containPseudoClass($selector) {
    $selector: selectorToString($selector);

    @if string.index($selector, ':') {
        @return true;
    } @else {
        @return false;
    }
}

@function hitAllSpecialNestRule($selector) {
    @return containsModifier($selector) or containWhenFlag($selector) or containPseudoClass($selector);
}

// join var name
// joinVarName(('button', 'text-color')) => '--kg-button-text-color'
@function joinVarName($list) {
    $name: '--' + config.$namespace;
    @each $item in $list {
        @if $item != '' {
            $name: $name + '-' + $item;
        }
    }
    @return $name;
}

// getCssVarName('button', 'text-color') => '--kg-button-text-color'
@function getCssVarName($args...) {
    @return joinVarName($args);
}

// getCssVar('button', 'text-color') => var(--kg-button-text-color)
@function getCssVar($args...) {
    @return var(#{joinVarName($args)});
}
